@import './variables/global.scss';
@import './reset.scss';

.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: black;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    height: 100vh;
    width: 1280px;
    background: red;
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}